body {
  padding: 0px;
  font-family: sans-serif;
}
.side-picture {
  width: 48%;
  position: relative;
}
.img-h1-title {
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  font-size: 30px;
  color: #96969c;
  text-align: center;
}
.img-h1 {
  position: absolute;
  top: 25%;
  left: 15%;
  right: 10%;
  font-size: 20px;
  color: cadetblue;
}
.picture {
  height: 680px;
  border-radius: 10px;
}
.reg-main-div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px 10px 25px;
}
.sub-div {
  background-color: #eff5f8;
  width: 49%;
  margin-left: 20px;
  border-radius: 10px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  padding: 29px;
  width: 100%;
}
.sub-div-1 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
.h1-reg {
  margin-top: 7px;
  margin-right: 7px;
  margin-left: 7px;
  font-size: 18px;
  color: cadetblue;
}
.chakra-select__wrapper {
  width: 20% !important;
  margin-right: 10px;
}
.header-reg {
  margin-top: 25px;
  text-align: center;
  font-size: 30px;
  color: #96969c;
}
.header-reg-1 {
  text-align: center;
  font-size: 20px;
  color: cadetblue;
}
.upload-reg {
  cursor: pointer;
  display: inline-block;
  width: 71px !important;
  padding: 69px 0 0 0 !important;
  height: 69px !important;
  overflow: hidden !important;
  box-sizing: border-box;
  background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png)
    center center no-repeat #e4e4e4;
  border-radius: 56px !important;
  background-size: 60px 60px !important;
}
.profile-div {
  position: relative;
  top: 36px;
  left: -95px;
  width: 71px;
  img {
    position: absolute;
    top: 26%;
    left: 36%;
    width: 20px;
    height: 20px;
  }
}
.profile-div-after {
  position: relative;
  top: 36px;
  left: -95px;
  width: 71px;
  img {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 71px;
    height: 71px;
    border-radius: 40px;
  }
}
.submit-reg {
  margin-top: 20px;
  margin-left: 10px;
}
.input-field {
  border: 1px solid cadetblue !important;
}
.input-field::placeholder {
  color: cadetblue !important;
}
.radio-reg {
  span {
    color: cadetblue;
    border-color: cadetblue;
  }
}
.div-btn-login{
  position: relative;
  width: 100%;
  button {
    position: absolute;
    top: 50%;
    left: 24%;
    width: 50%;
    height: 55px;
    font-size: 20px;
    background-color: cadetblue;
  }
  button:hover {
    position: absolute;
    top: 50%;
    left: 24%;
    width: 50%;
    height: 55px;
    font-size: 20px;
    background-color: cadetblue;
  }
}
.div-btn-reg {
  position: relative;
  width: 100%;
  button {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 55px;
    font-size: 20px;
    background-color: cadetblue;
  }
  button:hover {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 50%;
    height: 55px;
    font-size: 20px;
    background-color: cadetblue;
  }
}
.form-reg {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

@media only screen and (max-width: 1400px) {
  .chakra-select__wrapper {
    margin-right: 10px;
  }
  .sub-div-1 {
    margin-left: 0px !important;
    width: 100%;
    position: relative;
    display: flex !important;
    flex-wrap: nowrap !important;
  }
}
@media only screen and (max-width: 991px) {
  .contact-input{
    width: 50% !important;
  }
  .contact-input{
    .chakra-select__wrapper{
      width: 150px !important;
    }
  }
  .radio-reg{
    .chakra-stack{
      width: 230px;
      margin: auto;
    }
  }
  .form-reg {
    display: block;
    padding: 20px;
    height: 865px;
    text-align: -webkit-center;
  }
  .sub-div-1 {
    display: block !important;
    margin-bottom: 30px;
  }
  .reg-main-div {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  .img-h1-title {
    position: absolute;
    top: 4%;
    left: 10%;
    right: 10%;
    font-size: 30px;
    color: #96969c;
    text-align: center;
  }
  .picture {
    height: 600px;
    border-radius: 10px;
  }
  .side-picture {
    width: 100%;
    position: relative;
  }
  .sub-div {
    background-color: #eff5f8;
    width: 100%;
    margin-left: 0px;
    border-radius: 10px;
    margin-top: 12px;
  }
  .contact-no {
    margin-bottom: 5px !important;
  }

  .profile-div {
    position: relative;
    top: 10px;
    left: 5px;

    img {
      position: absolute;
      top: 26%;
      left: 36%;
      width: 20px;
      height: 20px;
    }
  }
  .profile-div-after {
    position: relative;
    top: 10px;
    left: 5px;
    img {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 71px;
      height: 71px;
      border-radius: 40px;
    }
  }
  .gender-h1 {
    margin-left: 0px !important;
  }
}
@media only screen and (max-width: 566px) {
  .sub-div-1 {
    display: flex;
    flex-wrap: initial;
    margin-bottom: 30px;
    width: 100% !important;
  }
}

.p-tag-msg{
  font-size: 12px;
  color: red;
}
.link-btn{
  margin-top: 20px;
  width: 20%;
  font-size: 20px;
  font-weight: 500;
  height: 55px;
  border-radius: 6px;
  padding: 12px;
  text-align: center;
  background-color: #22728b;
  color: #FFFFFF;
}